@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.services_header {
    position: absolute;
    width: 100%;
    padding-top: 23px;
}

@media(max-width: 767px) {
    .services_header {
        position: relative;
        background-color: #1B1B1B;
        z-index: 9;
    }
}

.services_footer {
    padding: 38px 0 30px;
}

.services_footer>.container,
.services_header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_menu,
.header_menu {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: 0;
}

.footer_menu_item:not(:last-child),
.header_menu_item:not(:last-child) {
    margin-right: 55px;
}

@media(max-width: 992px) {

    .footer_menu_item:not(:last-child),
    .header_menu_item:not(:last-child) {
        margin-right: 24px;
    }
}

@media(max-width: 767px) {
    .services_footer .container {
        flex-direction: column;
    }

    .footer_menu,
    .header_menu {
        margin: 10px 0;
    }
}

.footer_button__link,
.header_button__link {
    padding: 8px 16px;
    background: #FFFFFF;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.footer_button__link:hover,
.header_button__link:hover {
    color: #0CBEE8;
}

.footer_button__link:active,
.header_button__link:active {
    background: #C4C4C4;
    color: #000000;
}

.footer_button__link:disabled,
.header_button__link:disabled {
    background: #6A6A6A;
    color: #BBBBBB;
}

.footer_menu_item__link,
.header_menu_item__link {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #C6C6C6;
}

.footer_menu_item__link:hover,
.header_menu_item__link:hover {
    color: #FFFFFF;
}

.footer_menu_item__link:active,
.header_menu_item__link:active {
    color: #6A6A6A;

}

@media(max-width: 992px) {

    .footer_button__link,
    .header_button__link {
        padding: 8px 16px;
        font-size: 20px;
        line-height: 135%;
    }

    .footer_menu_item__link,
    .header_menu_item__link {
        font-size: 20px;
        line-height: 135%;
    }
}

.footer_copyright {
    margin-top: 48px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #B0B0B0;
    opacity: 0.9;
    text-align: center;
}

@media(max-width: 767px) {
    .footer_copyright {
        margin-top: 32px;
        font-size: 10px;
        line-height: 140%;
    }
}

.services_header .container,
.services_footer .container,
.home .container,
.services_section .container {
    position: relative;
    z-index: 1;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 130px;
}

@media(max-width: 1400px) {

    .services_header .container,
    .services_footer .container,
    .home .container,
    .services_section .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 992px) {

    .services_header .container,
    .services_footer .container,
    .home .container,
    .services_section .container {
        padding-left: 31px;
        padding-right: 31px;
    }
}

@media(max-width: 767px) {

    .services_header .container,
    .services_footer .container,
    .home .container,
    .services_section .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    body.show_menu .home>.container {
        position: relative;
        z-index: -1;
    }

    .services_header .container {
        flex-wrap: wrap;
    }

    .header_menu {
        display: none;
    }

    .services_footer {
        padding: 16px 0;
    }

    .services_footer .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .services_footer .container .logo {
        order: 1
    }

    .services_header .container .logo_img,
    .services_footer .container .logo_img {
        max-width: 122px;
        position: relative;
        z-index: 10;
    }

    .services_footer .container .footer_menu {
        order: 3;
        width: 100%;
        justify-content: space-between;
        margin: 16px 0 0;
    }

    .services_footer .container .footer_button__link {
        order: 2;
    }

    .services_header .container .header_button__link,
    .services_footer .container .footer_button__link {
        font-size: 14px;
        line-height: 135%;
    }

    .footer_menu_item__link {
        font-size: 14px;
        line-height: 135%;
    }
}


.home_title,
.services_title {
    margin: 0;
}

.services_section {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.block_black {
    background-color: #1B1B1B;
    background-image: url(../images/main/home_before.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block_blue {
    background: #11283B;
}

.services_title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 59px;
    color: #FFFFFF;
}


@media (max-width: 1200px) {
    .services_title {
        font-size: 35px;
        line-height: 40px;
    }
}

@media (max-width: 992px) {
    .services_title {
        font-size: 43px;
        line-height: 135%;
    }
}

@media (max-width: 767px) {
    .services_title {
        font-size: 24px;
        line-height: 135%;
    }
}

.home_title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 58px;
    line-height: 78px;
    color: #FFFFFF;
}

@media(max-width: 1200px) {
    .home_title {
        margin-bottom: 14px;
        font-size: 36px;
        line-height: 135%;
    }
}

@media(max-width: 992px) {
    .home_title {
        text-align: center;
        font-size: 58px;
        line-height: 135%;
        margin-bottom: 24px;
    }
}

@media(max-width: 767px) {
    .home_title {
        font-size: 36px;
        line-height: 135%;
        margin-bottom: 14px;
    }
}

.services_description {
    margin-top: 24px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #C6C6C6;
}

@media(max-width: 992px) {
    .services_description {
        font-size: 18px;
        line-height: 135%;
    }
}

@media(max-width: 767px) {
    .services_description {
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
    }
}

.services_form_container input[type="submit"].wpcf7-submit,
.services_button {
    min-width: 220px;
    display: inline-block;
    padding: 14px 26px;
    background: linear-gradient(132.2deg, #04C9E4 -17.48%, #3F75FF 162.74%);
    border-radius: 10px;
    font-family: 'Gilroy', sans-serif !important;
    font-weight: 600 !important;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center !important;
    letter-spacing: 0 !important;
}

@media(max-width: 767px) {

    .services_form_container input[type="submit"].wpcf7-submit,
    .services_button {
        font-size: 14px;
    }
}

.services_form_container input[type="submit"].wpcf7-submit:hover,
.services_button:hover {
    background: linear-gradient(132.2deg, #78EFFF -17.48%, #618DFF 162.74%);
}

.services_form_container input[type="submit"].wpcf7-submit:active,
.services_button:active {
    color: #FFFFFF;
    background: linear-gradient(132.2deg, #008294 -17.48%, #002DA1 162.74%);
}

.services_form_container input[type="submit"].wpcf7-submit:disabled,
.services_button:disabled {
    color: #BBBBBB;
    background: #6A6A6A;
}

.home {
    position: relative;
    padding: 150px 0 130px;
}

.home:before,
.home:after {
    content: "";
    position: absolute;
    opacity: 0.8;
    filter: blur(150px);
    width: 800px;
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 992px) {

    .home:before,
    .home:after {
        width: 400px;
        height: 400px;
    }

    .home {
        position: relative;
        padding: 130px 0 54px;
    }

    .services_section {
        padding: 80px 0;
    }
}

@media(max-width: 767px) {
    .home {
        padding: 60px 0;
    }

    .home:before,
    .home:after {
        width: 200px;
        height: 200px;
    }

    .services_section {
        padding: 60px 0;
    }
}

.home:before {
    left: 0;
    top: 0;
    background-image: url(../images/main/home_before.svg);
}

.home:after {
    right: 0;
    bottom: 0;
    background-image: url(../images/main/home_after.svg);
}

.home>.container {
    display: flex;
    align-items: center;
}

.home .services_description {
    max-width: 60%;
    margin-bottom: 32px;
}

.home_inform {
    animation: slideOut 1s ease-in-out;
}

.home_image {
    animation: slideIn 1s ease-in-out;
}

@media (max-width: 1500px) {
    .home .services_description {
        max-width: 80%;
    }
}

@media (max-width: 1200px) {
    .home .services_description {
        max-width: 100%;
        margin: 0 0 20px;
    }
}

@media (max-width: 992px) {
    .home .services_description {
        max-width: 640px;
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 135%;
        text-align: center;
    }

    .home_inform {
        margin-bottom: 32px;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .home_image {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .home_image {
        max-width: 100%;
        display: block;
    }

    .home_inform {
        margin-bottom: 64px;
    }

    .home .services_description {
        font-size: 14px;
        line-height: 135%;
    }
}

@media (max-width: 992px) {
    .home>.container {
        flex-direction: column;
    }
}

.services_info .services_title,
.services_info .services_description {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 992px) {

    .services_info .services_title,
    .services_info .services_description {
        max-width: 80%;
    }
}

@media (max-width: 767px) {

    .services_info .services_title,
    .services_info .services_description {
        max-width: 100%;
    }
}

.services_info_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.info_item {
    padding: 18px;
    background: #1B1B1B;
    border-radius: 10px;
    width: calc(30% - 15px);
    display: flex;
    flex-direction: column;
}

.info_item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.info_item__text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #C6C6C6;
    margin-bottom: 12px;
}

.info_item_bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.info_item_bottom__num {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 51px;
    color: #FFFFFF;
}

@media(max-width: 992px) {
    .info_item {
        width: calc(45% - 5px);
        min-height: 162px;
        margin-bottom: 30px;
    }

    .info_item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }

    .info_item__text {
        font-size: 17px;
        line-height: 135%;
    }

    .info_item_bottom__num {
        font-size: 38px;
        line-height: 135%;
    }
}

@media(max-width: 767px) {
    .services_info_items {
        margin-top: 30px;
    }

    .info_item {
        box-sizing: border-box;
    }

    .info_item,
    .info_item:nth-last-child(-n+2),
    .info_item:not(:nth-last-child(-n+3)) {
        width: 100%;
        min-height: 132px;
        padding: 16px;
        margin-bottom: 12px;
    }

    .info_item:last-child() {
        margin-bottom: 0;
    }

    .info_item__text {
        font-size: 14px;
        line-height: 135%;
    }

    .info_item_bottom__icon {
        max-width: 30px;
    }

    .info_item_bottom__num {
        font-size: 24px;
        line-height: 135%;
    }
}

.services_application>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 992px) {
    .services_application>.container {
        flex-direction: column;
    }
}

.application_inform {
    max-width: 45%;
    margin: auto;
}

.application_image {
    margin-right: 80px;
}

@media(max-width: 1200px) {
    .application_image {
        max-width: 100%;
    }
}

@media(max-width: 992px) {
    .application_inform {
        max-width: 100%;
        margin-top: 50px;
    }
}

@media(max-width: 767px) {
    .application_inform {
        margin-top: 30px;
    }
}

.services_application .services_description {
    max-width: 65%;
    margin-bottom: 32px;
}

.services_slider .services_description {
    max-width: 50%;
}

@media(max-width: 992px) {
    .services_application .services_description {
        max-width: 100%;
        font-size: 18px;
        line-height: 135%;
    }

    .application_image {
        margin-right: 0;
    }

    .services_slider .services_description {
        max-width: 60%;
    }
}

.slider_items {
    margin-top: 50px;
    padding-left: 30px;
}

@media(max-width: 767px) {
    .services_application .services_description {
        font-size: 14px;
        line-height: 135%;
    }

    .services_slider .services_description {
        max-width: 100%;
    }
}

@media(max-width: 992px) {
    .slider_items {
        padding-left: 31px;
        padding-right: 31px;
    }
}

@media(max-width: 767px) {
    .slider_items {
        margin-top: 84px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media(min-width: 1441px) {
    .slider_items {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}

.slick-arrow {
    color: transparent;
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    position: absolute;
    top: -129px;
    right: 0;
    z-index: 1;
}

.slick-arrow.slick-prev {
    background-image: url(../images/main/arrow-prev.svg);
    right: 66px;
}

.slick-arrow.slick-next {
    background-image: url(../images/main/arrow-next.svg);
}

.slick-slider .slick-list {
    overflow: visible;
}

.slick-arrow:hover {
    background-image: url(../images/main/arrow-next-hover.svg);
}

.slick-arrow.slick-prev:hover {
    background-image: url(../images/main/arrow-next-hover.svg);
    transform: rotate(180deg);
}

.slick-arrow:active {
    background-image: url(../images/main/arrow-next-active.svg);
}

.slick-arrow.slick-prev:active {
    background-image: url(../images/main/arrow-next-active.svg);
    transform: rotate(180deg);
}

.slick-disabled {
    opacity: 0.5;
}

.slick-slide {
    margin-right: 30px;
}

@media (max-width: 1500px) {
    .slick-arrow {
        right: 30px;
    }

    .slick-arrow.slick-prev {
        right: 96px;
    }
}

@media (max-width: 992px) {
    .slick-arrow {
        top: -199px;
        right: 31px;
    }

    .slick-arrow.slick-prev {
        right: 87px;
    }
}

@media (max-width: 767px) {
    .slick-slide {
        margin-right: 0px;
    }

    .slick-slider .slick-list {
        overflow: hidden;
    }

    .slick-arrow {
        top: -66px;
        left: 72px;
    }

    .slick-arrow.slick-prev {
        left: 16px;
    }
}

.slider_item_content {
    display: flex;
    align-items: center;
    padding: 24px 28px;
    background: #1B1B1B;
    border-radius: 12px;
    min-height: 137px;
}

.slider_item__icon {
    margin-right: 28px;
}

.slider_item_inform__title {
    margin-bottom: 10px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.slider_item_inform__text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #828282;
}

.services_uptitle {
    margin-bottom: 12px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
    text-align: center;
    text-transform: uppercase;
    color: #0DBDE8;
}

.services_form .services_title {
    text-align: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 992px) {
    .slider_item_content {
        box-sizing: border-box;
        min-height: 160px;
        padding: 14px 18px;
    }

    .slider_item_inform__title {
        font-size: 22px;
    }

    .slider_item__icon {
        margin-right: 22px;
    }

    .services_form .services_title {
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .slider_item_content {
        min-height: 153px;
        padding: 16px;
    }

    .slider_item_inform__title {
        font-size: 18px;
        line-height: 135%;
    }

    .slider_item_inform__text {
        font-size: 14px;
        line-height: 135%;
    }

    .slider_item__icon {
        max-width: 54px;
        margin-right: 16px;
    }

    .services_uptitle {
        font-size: 10px;
        line-height: 135%;
    }
}

.services_form_container {
    margin-top: 50px;
}

.services_form__form br {
    display: none;
}

.services_form__form>p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services_form__label {
    width: calc(50% - 30px);
}

@media(max-width: 767px) {
    .services_form__form>p {
        flex-direction: column;
    }

    .services_form__label {
        width: 100%;
    }
}

.services_form__label:not(:nth-last-child(-n+2)) {
    margin-bottom: 20px;
}

.services_form__title {
    display: block;
    margin-bottom: 11px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #C6C6C6;
}

.services_form__label input {
    width: 100%;
    height: 55px;
    background: #252525;
    border-radius: 12px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #717171;
}

.services_form__label input::-webkit-input-placeholder {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #717171;
}

.services_form__label input::-moz-placeholder {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #717171;
}

.services_form__label input:-ms-input-placeholder {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #717171;
}

.services_form__label input:-moz-placeholder {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #717171;
}

form p {
    margin: 0;
}

.services_form__submit {
    margin-top: 32px;
    text-align: center;
}

.mobile_button {
    width: 23px;
    height: 14px;
    position: relative;
    background: transparent;
    border: none;
    z-index: 10;
}

.mobile_button:before,
.mobile_button:after,
.mobile_button span:before {
    position: absolute;
    content: "";
    width: 23px;
    height: 2px;
    left: 0;
    background: #fff;
    border: none;
    border-radius: 10px;
    transition: all .5s;
}

.mobile_button:before {
    top: 0;
}

.mobile_button span:before {
    top: 6px;
}

.mobile_button:after {
    top: 12px;
}

.services_header .container .header_button__link {
    margin-left: auto;
    margin-right: 16px;
}

body.show_menu {
    overflow: hidden;
}

body.show_menu .mobile_button span:before {
    left: 100px;
}

body.show_menu .mobile_button {
    overflow-x: hidden;
}

body.show_menu .mobile_button:before {
    transform: rotate(45deg);
    top: 6px;
}

body.show_menu .mobile_button:after {
    transform: rotate(-45deg);
    top: 6px;
}

.mobile_menu {
    width: 0;
    display: none;
}

body.show_menu .mobile_menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #1B1B1B;
    background-image: url(../images/main/home_before.svg);
    z-index: 9;
    display: block;
}

body.show_menu .mobile_menu:before {
    content: "";
    position: absolute;
    top: -23px;
    right: 0;
    width: 55px;
    height: 100vh;
    z-index: 9;
    background: linear-gradient(132.2deg, #04C9E4 -17.48%, #3F75FF 162.74%);
}

body.show_menu .mobile_menu .header_menu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 0px;
    align-items: start;
    padding-left: 17px;
}

body.show_menu .mobile_menu .header_menu .header_menu_item__link {
    font-size: 28px;
    line-height: 135%;
}

body.show_menu .mobile_menu .header_menu .header_menu_item:not(:last-child) {
    margin-bottom: 40px;
    margin-right: 0;
}

body.show_menu .services_header .container .header_button__link {
    position: absolute;
    bottom: 50px;
    left: 17px;
}

body.show_menu .logo_img {
    top: 6px
}